<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "ttwmwtt", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <li><%= link_to "Hardware", hardware_path %></li>
        <li><%= link_to "Raspbian", raspbian_path %></li>
        <li><%= link_to "Retropie", retropie_path %></li>
      </ul>
    </nav>
  </div>
</header>
